@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  color: #333;
  background-color: #efefef;
  font-family: 'Roboto', sans-serif;
}

.todo-container {
  background-color: #fefefe;
}
